.bb-pattern-list {

	display: flex;
	flex-direction: column;
	height: 100%;

	a {
		color: white;
	}

	.tune { 
		font-weight: bold;
	}
	.caret {
		transition: linear .25s transform;
	}

	&-filter{
		padding:0 1.2em;
	}

	&-tunes { 
		>* { 
			transition: linear 0.5s all;
			padding:0 1.2em;
		}
	}

	.open { 
		background-color: rgba(255,255,255,0.3);
		padding: .4em 1.2em;
		margin-bottom:2px;
	}
	.open .caret {
		transform: rotateZ(-180deg);
	}

	.bb-pattern-placeholder {
		margin: 2px;
	}

	.tune-actions {
		text-align: center;

		> * + * {
			margin-left: 1rem;
		}
	}

	hr {
		/* https://stackoverflow.com/a/34372979/242365 */
		margin-left: 0;
	}

	.general-actions {
		padding: 10px 1.2em 0 1.2em	;
		a { 
			color: white;
		}
	}

}