.bb-pattern-list {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1.4rem;
	gap: 1.4em;

	h4 {
		padding: 0.3rem 0;
	}

	a {
		color: black;
	}

	.caret {
		margin-top:4px;
		transition: linear .25s transform;
	}

	&-tunes { 
		padding:0 1.2em;
		margin:0 -1.2em;
		transition: linear 0.5s all;
	}

	.open { 
		background-color: rgba(255,255,255,0.2);
		padding: 0 1.2em;
		margin-bottom:2px;
	}

	.collapse { 
		padding: 0.2em 0;
	}

	.open .caret {
		transform: rotateZ(-180deg);
	}

	.bb-pattern-placeholder {
		margin: 2px;
	}

	.tune-actions {
		text-align: center;

		> * + * {
			margin-left: 1rem;
		}
	}

	hr {
		/* https://stackoverflow.com/a/34372979/242365 */
		margin-left: 0;
	}

	.general-actions {
		padding: 10px  0 0 0;
	}

}