.bb-pattern-placeholder.bb-pattern-placeholder.bb-pattern-placeholder.bb-pattern-placeholder {

	position: relative;

	&[draggable=true] {
		cursor: move;
	}

	.fa-grip {
		color:white;
		margin-right:4px;
	}

	&.dragging.drag-effect-move {
		visibility: hidden;
	}

	a.pattern-name { 
		color: currentColor;
		flex:1;
		white-space: wrap;
		line-height: 1;
		overflow: hidden;
	}

	.icon-list {
		align-items: start;;
	}
	.icon-list>li>a, .icon-list button {
		color:white;
	}

	.icon-list li { 
		margin-left:.4em;
	}
	.pattern-button {
		height: 100%;
		box-sizing: border-box;
		overflow: hidden;

		.tune-name {
			font-weight: bold;
		}
	}

	.position-marker {
		position: absolute;
		top: 0;
		height: 100%;
		border-left: 1px solid #000;
		transition: left 0.1s linear;
		pointer-events: none;
	}

}

#bb-pattern-placeholder-drag-clone {
	opacity: .5;
}